# **Used Cars Price Prediction**
# **Milestone 2**

## **Model Building**

1. What we want to predict is the "Price". We will use the normalized version 'price_log' for modeling.
2. Before we proceed to the model, we'll have to encode categorical features. We will drop categorical features like Name. 
3. We'll split the data into train and test, to be able to evaluate the model that we build on the train data.
4. Build Regression models using train data.
5. Evaluate the model performance.

**Note:** Please load the data frame that was saved in Milestone 1 here before separating the data, and then proceed to the next step in Milestone 2.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier

import scipy.stats as stats

from sklearn.model_selection import GridSearchCV


import warnings
warnings.filterwarnings('ignore')

# Import required libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# To ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Remove the limit from the number of displayed columns and rows. It helps to see the entire dataframe while printing it
pd.set_option("display.max_columns", None)

### **Load the data**

In [2]:
import pandas as pd

cars_data = pd.read_csv("cars_data_updated.csv")

In [3]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7252 entries, 0 to 7251
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   7252 non-null   object
 1   Location               7252 non-null   object
 2   Year                   7252 non-null   int64
 3   Kilometers_Driven      7252 non-null   int64
 4   Fuel_Type              7252 non-null   object
 5   Transmission           7252 non-null   object
 6   Owner_Type             7252 non-null   object
 7   Mileage                7252 non-null   float64
 8   Engine                 7252 non-null   float64
 9   Power                  7252 non-null   float64
 10  Seats                  7252 non-null   float64
 11  New_price              7252 non-null   float64
 12  Price                  7252 non-null   float64
 13  kilometers_driven_log  7252 non-null   float64
 14  price_log              7252 non-null   float64
 15  Name_Brand&Model       7252 non-null   object
dtypes: float64(8), int64(2), object(6)
memory usage: 906.6+ KB

In [4]:
cars_data.nunique()

Name                     2041
Location                   11
Year                       23
Kilometers_Driven        3659
Fuel_Type                   5
Transmission                2
Owner_Type                  4
Mileage                   438
Engine                    150
Power                     386
Seats                       8
New_price                 642
Price                    1421
kilometers_driven_log    3659
price_log                1420
Name_Brand&Model          223
dtype: int64

In [5]:
cars_data.isnull().sum()

Name                     0
Location                 0
Year                     0
Kilometers_Driven        0
Fuel_Type                0
Transmission             0
Owner_Type               0
Mileage                  0
Engine                   0
Power                    0
Seats                    0
New_price                0
Price                    0
kilometers_driven_log    0
price_log                0
Name_Brand&Model         0
dtype: int64

### **Split the Data**

<li>Step1: Seperating the indepdent variables (X) and the dependent variable (y). 
<li>Step2: Encode the categorical variables in X using pd.dummies.
<li>Step3: Split the data into train and test using train_test_split.

**Think about it:** Why we should drop 'Name','Price','price_log','Kilometers_Driven' from X before splitting?

In [6]:
# Step-1
X = cars_data.drop(['Name','Price','price_log','Kilometers_Driven'], axis = 1)

y = cars_data[["price_log", "Price"]]

X.head()

,Location,Year,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_price,kilometers_driven_log,Name_Brand&Model
0,Mumbai,2010,CNG,Manual,First,26.60,998.0,58.16,5.0,5.51,11.184421,Maruti Wagon
1,Pune,2015,Diesel,Manual,First,19.67,1582.0,126.20,5.0,16.06,10.621327,Hyundai Creta
2,Chennai,2011,Petrol,Manual,First,18.20,1199.0,88.70,5.0,8.61,10.736397,Honda Jazz
3,Chennai,2012,Diesel,Manual,First,20.77,1248.0,88.76,7.0,11.27,11.373663,Maruti Ertiga
4,Coimbatore,2013,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,53.14,10.613246,Audi A4

In [7]:
y.head()

   price_log  Price
0   0.559616   1.75
1   2.525729  12.50
2   1.504077   4.50
3   1.791759   6.00
4   2.875822  17.74

In [8]:
# Step-2 Use pd.get_dummies(drop_first = True)
X = pd.get_dummies(X, drop_first = True)
X.head()

,Year,Mileage,Engine,Power,Seats,New_price,kilometers_driven_log,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third,Name_Brand&Model_Audi A3,Name_Brand&Model_Audi A4,Name_Brand&Model_Audi A6,Name_Brand&Model_Audi A7,Name_Brand&Model_Audi A8,Name_Brand&Model_Audi Q3,Name_Brand&Model_Audi Q5,Name_Brand&Model_Audi Q7,Name_Brand&Model_Audi RS5,Name_Brand&Model_Audi TT,Name_Brand&Model_BMW 1,Name_Brand&Model_BMW 3,Name_Brand&Model_BMW 5,Name_Brand&Model_BMW 6,Name_Brand&Model_BMW 7,Name_Brand&Model_BMW X1,Name_Brand&Model_BMW X3,Name_Brand&Model_BMW X5,Name_Brand&Model_BMW X6,Name_Brand&Model_BMW Z4,Name_Brand&Model_Bentley Continental,Name_Brand&Model_Bentley Flying,Name_Brand&Model_Chevrolet Aveo,Name_Brand&Model_Chevrolet Beat,Name_Brand&Model_Chevrolet Captiva,Name_Brand&Model_Chevrolet Cruze,Name_Brand&Model_Chevrolet Enjoy,Name_Brand&Model_Chevrolet Optra,Name_Brand&Model_Chevrolet Sail,Name_Brand&Model_Chevrolet Spark,Name_Brand&Model_Chevrolet Tavera,Name_Brand&Model_Datsun GO,Name_Brand&Model_Datsun Redi,Name_Brand&Model_Datsun redi-GO,Name_Brand&Model_Fiat Abarth,Name_Brand&Model_Fiat Avventura,Name_Brand&Model_Fiat Grande,Name_Brand&Model_Fiat Linea,Name_Brand&Model_Fiat Petra,Name_Brand&Model_Fiat Punto,Name_Brand&Model_Fiat Siena,Name_Brand&Model_Force One,Name_Brand&Model_Ford Aspire,Name_Brand&Model_Ford Classic,Name_Brand&Model_Ford EcoSport,Name_Brand&Model_Ford Ecosport,Name_Brand&Model_Ford Endeavour,Name_Brand&Model_Ford Fiesta,Name_Brand&Model_Ford Figo,Name_Brand&Model_Ford Freestyle,Name_Brand&Model_Ford Fusion,Name_Brand&Model_Ford Ikon,Name_Brand&Model_Ford Mustang,Name_Brand&Model_Hindustan Motors,Name_Brand&Model_Honda Accord,Name_Brand&Model_Honda Amaze,Name_Brand&Model_Honda BR-V,Name_Brand&Model_Honda BRV,Name_Brand&Model_Honda Brio,Name_Brand&Model_Honda CR-V,Name_Brand&Model_Honda City,Name_Brand&Model_Honda Civic,Name_Brand&Model_Honda Jazz,Name_Brand&Model_Honda Mobilio,Name_Brand&Model_Honda WR-V,Name_Brand&Model_Honda WRV,Name_Brand&Model_Hyundai Accent,Name_Brand&Model_Hyundai Creta,Name_Brand&Model_Hyundai EON,Name_Brand&Model_Hyundai Elantra,Name_Brand&Model_Hyundai Elite,Name_Brand&Model_Hyundai Getz,Name_Brand&Model_Hyundai Grand,Name_Brand&Model_Hyundai Santa,Name_Brand&Model_Hyundai Santro,Name_Brand&Model_Hyundai Sonata,Name_Brand&Model_Hyundai Tucson,Name_Brand&Model_Hyundai Verna,Name_Brand&Model_Hyundai Xcent,Name_Brand&Model_Hyundai i10,Name_Brand&Model_Hyundai i20,Name_Brand&Model_ISUZU D-MAX,Name_Brand&Model_Isuzu MU,Name_Brand&Model_Isuzu MUX,Name_Brand&Model_Jaguar F,Name_Brand&Model_Jaguar XE,Name_Brand&Model_Jaguar XF,Name_Brand&Model_Jaguar XJ,Name_Brand&Model_Jeep Compass,Name_Brand&Model_Lamborghini Gallardo,Name_Brand&Model_Land Rover,Name_Brand&Model_Mahindra Bolero,Name_Brand&Model_Mahindra E,Name_Brand&Model_Mahindra Jeep,Name_Brand&Model_Mahindra KUV,Name_Brand&Model_Mahindra Logan,Name_Brand&Model_Mahindra NuvoSport,Name_Brand&Model_Mahindra Quanto,Name_Brand&Model_Mahindra Renault,Name_Brand&Model_Mahindra Scorpio,Name_Brand&Model_Mahindra Ssangyong,Name_Brand&Model_Mahindra TUV,Name_Brand&Model_Mahindra Thar,Name_Brand&Model_Mahindra Verito,Name_Brand&Model_Mahindra XUV300,Name_Brand&Model_Mahindra XUV500,Name_Brand&Model_Mahindra Xylo,Name_Brand&Model_Maruti 1000,Name_Brand&Model_Maruti 800,Name_Brand&Model_Maruti A-Star,Name_Brand&Model_Maruti Alto,Name_Brand&Model_Maruti Baleno,Name_Brand&Model_Maruti Celerio,Name_Brand&Model_Maruti Ciaz,Name_Brand&Model_Maruti Dzire,Name_Brand&Model_Maruti Eeco,Name_Brand&Model_Maruti Ertiga,Name_Brand&Model_Maruti Esteem,Name_Brand&Model_Maruti Estilo,Name_Brand&Model_Maruti Grand,Name_Brand&Model_Maruti Ignis,Name_Brand&Model_Maruti Omni,Name_Brand&Model_Maruti Ritz,Name_Brand&Model_Maruti S,Name_Brand&Model_Maruti S-Cross,Name_Brand&Model_Maruti SX4,Name_Brand&Model_Maruti Swift,Name_Brand&Model_Maruti Versa,Name_Brand&Model_Maruti Vitara,Name_Brand&Model_Maruti Wagon,Name_Brand&Model_Maruti Zen,Name_Brand&Model_Mercedes-Benz A,Name_Brand&Model_Mercedes-Benz B,Name_Brand&Model_Mercedes-Benz C-Class,Name_Brand&Model_Mercedes-Benz CLA,Name_Brand&Model_Mercedes-Benz CLS-Class,Name_Brand&Model_Mercedes-Benz E-Class,Name_Brand&Model_Mercedes-Benz GL-Class,Name_Brand&Model_Mercedes-Benz GLA,Name_Brand&Model_Mercedes-Benz GLC,Name_Brand&Model_Mercedes-Benz GLE,Name_Brand&Model_Mercedes-Benz GLS,Name_Brand&Model_Mercedes-Benz M-Class,Name_Brand&Model_Mercedes-Benz New,Name_Brand&Model_Mercedes-Benz R-Class,Name_Brand&Model_Mercedes-Benz S,Name_Brand&Model_Mercedes-Benz S-Class,Name_Brand&Model_Mercedes-Benz SL-Class,Name_Brand&Model_Mercedes-Benz SLC,Name_Brand&Model_Mercedes-Benz SLK-Class,Name_Brand&Model_Mini Clubman,Name_Brand&Model_Mini Cooper,Name_Brand&Model_Mini Countryman,Name_Brand&Model_Mitsubishi Cedia,Name_Brand&Model_Mitsubishi Lancer,Name_Brand&Model_Mitsubishi Montero,Name_Brand&Model_Mitsubishi Outlander,Name_Brand&Model_Mitsubishi Pajero,Name_Brand&Model_Nissan 370Z,Name_Brand&Model_Nissan Evalia,Name_Brand&Model_Nissan Micra,Name_Brand&Model_Nissan Sunny,Name_Brand&Model_Nissan Teana,Name_Brand&Model_Nissan Terrano,Name_Brand&Model_Nissan X-Trail,Name_Brand&Model_OpelCorsa 1.4Gsi,Name_Brand&Model_Porsche Boxster,Name_Brand&Model_Porsche Cayenne,Name_Brand&Model_Porsche Cayman,Name_Brand&Model_Porsche Panamera,Name_Brand&Model_Renault Captur,Name_Brand&Model_Renault Duster,Name_Brand&Model_Renault Fluence,Name_Brand&Model_Renault KWID,Name_Brand&Model_Renault Koleos,Name_Brand&Model_Renault Lodgy,Name_Brand&Model_Renault Pulse,Name_Brand&Model_Renault Scala,Name_Brand&Model_Skoda Fabia,Name_Brand&Model_Skoda Laura,Name_Brand&Model_Skoda Octavia,Name_Brand&Model_Skoda Rapid,Name_Brand&Model_Skoda Superb,Name_Brand&Model_Skoda Yeti,Name_Brand&Model_Smart Fortwo,Name_Brand&Model_Tata Bolt,Name_Brand&Model_Tata Hexa,Name_Brand&Model_Tata Indica,Name_Brand&Model_Tata Indigo,Name_Brand&Model_Tata Manza,Name_Brand&Model_Tata Nano,Name_Brand&Model_Tata New,Name_Brand&Model_Tata Nexon,Name_Brand&Model_Tata Safari,Name_Brand&Model_Tata Sumo,Name_Brand&Model_Tata Tiago,Name_Brand&Model_Tata Tigor,Name_Brand&Model_Tata Venture,Name_Brand&Model_Tata Xenon,Name_Brand&Model_Tata Zest,Name_Brand&Model_Toyota Camry,Name_Brand&Model_Toyota Corolla,Name_Brand&Model_Toyota Etios,Name_Brand&Model_Toyota Fortuner,Name_Brand&Model_Toyota Innova,Name_Brand&Model_Toyota Land,Name_Brand&Model_Toyota Platinum,Name_Brand&Model_Toyota Prius,Name_Brand&Model_Toyota Qualis,Name_Brand&Model_Volkswagen Ameo,Name_Brand&Model_Volkswagen Beetle,Name_Brand&Model_Volkswagen CrossPolo,Name_Brand&Model_Volkswagen Jetta,Name_Brand&Model_Volkswagen Passat,Name_Brand&Model_Volkswagen Polo,Name_Brand&Model_Volkswagen Tiguan,Name_Brand&Model_Volkswagen Vento,Name_Brand&Model_Volvo S60,Name_Brand&Model_Volvo S80,Name_Brand&Model_Volvo V40,Name_Brand&Model_Volvo XC60,Name_Brand&Model_Volvo XC90
0,2010,26.60,998.0,58.16,5.0,5.51,11.184421,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2015,19.67,1582.0,126.20,5.0,16.06,10.621327,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2011,18.20,1199.0,88.70,5.0,8.61,10.736397,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2012,20.77,1248.0,88.76,7.0,11.27,11.373663,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2013,15.20,1968.0,140.80,5.0,53.14,10.613246,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
from sklearn.model_selection import train_test_split

# Step-3 Splitting data into training and test set:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

print(X_train.shape, X_test.shape)

(5076, 247) (2176, 247)

In [10]:
# Let us write a function for calculating r2_score and RMSE on train and test data
# This function takes model as an input on which we have trained particular algorithm
# The categorical column as the input and returns the boxplots and histograms for the variable

def get_model_score(model, flag = True):
    '''
    model : regressor to predict values of X

    '''
    # Defining an empty list to store train and test results
    score_list = [] 
    
    pred_train = model.predict(X_train)
    
    pred_train_ = np.exp(pred_train)
    
    pred_test = model.predict(X_test)
    
    pred_test_ = np.exp(pred_test)
    
    train_r2 = metrics.r2_score(y_train['Price'], pred_train_)
    
    test_r2 = metrics.r2_score(y_test['Price'], pred_test_)
    
    train_rmse = metrics.mean_squared_error(y_train['Price'], pred_train_, squared = False)
    
    test_rmse = metrics.mean_squared_error(y_test['Price'], pred_test_, squared = False)
    
    # Adding all scores in the list
    score_list.extend((train_r2, test_r2, train_rmse, test_rmse))
    
    # If the flag is set to True then only the following print statements will be dispayed, the default value is True
    if flag == True: 
        
        print("R-squared on training set : ", metrics.r2_score(y_train['Price'], pred_train_))
        
        print("R-squared on test set : ", metrics.r2_score(y_test['Price'], pred_test_))
        
        print("RMSE on training set : ", np.sqrt(metrics.mean_squared_error(y_train['Price'], pred_train_)))
        
        print("RMSE on test set : ", np.sqrt(metrics.mean_squared_error(y_test['Price'], pred_test_)))
    
    # Returning the list with train and test scores
    return score_list

<hr>

For Regression Problems, some of the algorithms used are :<br>

**1) Linear Regression** <br>
**2) Ridge / Lasso Regression** <br>
**3) Decision Trees** <br>
**4) Random Forest** <br>

### **Fitting a linear model**

Linear Regression can be implemented using: <br>

**1) Sklearn:** https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html <br>
**2) Statsmodels:** https://www.statsmodels.org/stable/regression.html

In [11]:
# Import Linear Regression from sklearn
from sklearn.linear_model import LinearRegression

In [12]:
# Create a linear regression model
lr = LinearRegression()

In [13]:
# Fit linear regression model
lr.fit(X_train, y_train['price_log'])

LinearRegression()

In [14]:
# Get score of the model
LR_score = get_model_score(lr)

R-squared on training set :  0.9194220665928118
R-squared on test set :  0.8357036049135772
RMSE on training set :  3.0496936686528704
RMSE on test set :  4.337921116855664

**Observations from results: _____**

**Important variables of Linear Regression**

Building a model using statsmodels.

In [15]:
# Import Statsmodels 
import statsmodels.api as sm

# Statsmodel api does not add a constant by default. We need to add it explicitly
x_train = sm.add_constant(X_train)

# Add constant to test data
x_test = sm.add_constant(X_test)

def build_ols_model(train):
    
    # Create the model
    olsmodel = sm.OLS(y_train["price_log"], train)
    
    return olsmodel.fit()


# Fit linear model on new dataset
olsmodel1 = build_ols_model(x_train)

print(olsmodel1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              price_log   R-squared:                       0.941
Model:                            OLS   Adj. R-squared:                  0.939
Method:                 Least Squares   F-statistic:                     329.9
Date:                Sun, 04 Sep 2022   Prob (F-statistic):               0.00
Time:                        21:24:31   Log-Likelihood:                 796.89
No. Observations:                5076   AIC:                            -1120.
Df Residuals:                    4839   BIC:                             428.4
Df Model:                         236
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                     -179.2377      3.240    -55.318      0.000    -185.590    -172.886
Year                                         0.0900      0.002     56.456      0.000       0.087       0.093
Mileage                                      0.0007      0.002      0.465      0.642      -0.002       0.004
Engine                                   -7.853e-05   2.36e-05     -3.321      0.001      -0.000   -3.22e-05
Power                                        0.0026      0.000     10.243      0.000       0.002       0.003
Seats                                        0.0111      0.015      0.733      0.464      -0.019       0.041
New_price                                    0.0066      0.001      5.022      0.000       0.004       0.009
kilometers_driven_log                       -0.0623      0.006    -10.462      0.000      -0.074      -0.051
Location_Bangalore                           0.1438      0.020      7.137      0.000       0.104       0.183
Location_Chennai                             0.0446      0.019      2.325      0.020       0.007       0.082
Location_Coimbatore                          0.0981      0.018      5.308      0.000       0.062       0.134
Location_Delhi                              -0.0724      0.019     -3.900      0.000      -0.109      -0.036
Location_Hyderabad                           0.1289      0.018      7.209      0.000       0.094       0.164
Location_Jaipur                             -0.0146      0.020     -0.745      0.456      -0.053       0.024
Location_Kochi                              -0.0155      0.018     -0.845      0.398      -0.052       0.021
Location_Kolkata                            -0.1795      0.019     -9.549      0.000      -0.216      -0.143
Location_Mumbai                             -0.0513      0.018     -2.866      0.004      -0.086      -0.016
Location_Pune                               -0.0215      0.018     -1.171      0.241      -0.057       0.014
Fuel_Type_Diesel                             0.0361      0.034      1.059      0.290      -0.031       0.103
Fuel_Type_Electric                       -3.768e-12   2.19e-12     -1.720      0.086   -8.06e-12    5.27e-13
Fuel_Type_LPG                               -0.0328      0.087     -0.376      0.707      -0.204       0.138
Fuel_Type_Petrol                            -0.0423      0.035     -1.212      0.225      -0.111       0.026
Transmission_Manual                         -0.0924      0.011     -8.482      0.000      -0.114      -0.071
Owner_Type_Fourth & Above                    0.0129      0.070      0.185      0.853      -0.124       0.150
Owner_Type_Second                           -0.0521      0.009     -5.725      0.000      -0.070      -0.034
Owner_Type_Third                            -0.1383      0.024     -5.834      0.000      -0.185      -0.092
Name_Brand&Model_Audi A3                     0.8687      0.242      3.582      0.000       0.393       1.344
Name_Brand&Model_Audi A4                     0.8217      0.223      3.690      0.000       0.385       1.258
Name_Brand&Model_Audi A6                     0.8728      0.229      3.818      0.000       0.425       1.321
Name_Brand&Model_Audi A7                     1.7510      0.303      5.773      0.000       1.156       2.346
Name_Brand&Model_Audi A8                     1.8531      0.264      7.022      0.000       1.336       2.370
Name_Brand&Model_Audi Q3                     0.9619      0.223      4.306      0.000       0.524       1.400
Name_Brand&Model_Audi Q5                     1.5621      0.220      7.092      0.000       1.130       1.994
Name_Brand&Model_Audi Q7                     1.0396      0.251      4.146      0.000       0.548       1.531
Name_Brand&Model_Audi RS5                    0.6295      0.308      2.044      0.041       0.026       1.233
Name_Brand&Model_Audi TT                     1.9247      0.304      6.338      0.000       1.329       2.520
Name_Brand&Model_BMW 1                       0.9787      0.247      3.960      0.000       0.494       1.463
Name_Brand&Model_BMW 3                       0.7561      0.223      3.393      0.001       0.319       1.193
Name_Brand&Model_BMW 5                       0.9566      0.229      4.185      0.000       0.508       1.405
Name_Brand&Model_BMW 6                       1.6802      0.246      6.834      0.000       1.198       2.162
Name_Brand&Model_BMW 7                       0.6851      0.292      2.344      0.019       0.112       1.258
Name_Brand&Model_BMW X1                      0.7953      0.224      3.554      0.000       0.357       1.234
Name_Brand&Model_BMW X3                      1.0650      0.235      4.541      0.000       0.605       1.525
Name_Brand&Model_BMW X5                      1.6469      0.223      7.393      0.000       1.210       2.084
Name_Brand&Model_BMW X6                      1.8246      0.235      7.779      0.000       1.365       2.284
Name_Brand&Model_BMW Z4                      1.6947      0.269      6.291      0.000       1.167       2.223
Name_Brand&Model_Bentley Continental         2.2842      0.318      7.187      0.000       1.661       2.907
Name_Brand&Model_Bentley Flying             -2.8206      0.562     -5.021      0.000      -3.922      -1.719
Name_Brand&Model_Chevrolet Aveo             -0.5791      0.222     -2.608      0.009      -1.014      -0.144
Name_Brand&Model_Chevrolet Beat             -0.4333      0.217     -1.997      0.046      -0.859      -0.008
Name_Brand&Model_Chevrolet Captiva           0.0485      0.264      0.184      0.854      -0.468       0.565
Name_Brand&Model_Chevrolet Cruze             0.1786      0.221      0.808      0.419      -0.255       0.612
Name_Brand&Model_Chevrolet Enjoy            -0.1644      0.234     -0.701      0.483      -0.624       0.295
Name_Brand&Model_Chevrolet Optra            -0.1973      0.225     -0.876      0.381      -0.639       0.244
Name_Brand&Model_Chevrolet Sail             -0.2623      0.227     -1.156      0.248      -0.707       0.183
Name_Brand&Model_Chevrolet Spark            -0.6265      0.227     -2.765      0.006      -1.071      -0.182
Name_Brand&Model_Chevrolet Tavera            0.4715      0.257      1.834      0.067      -0.033       0.976
Name_Brand&Model_Datsun GO                  -0.4829      0.229     -2.106      0.035      -0.932      -0.033
Name_Brand&Model_Datsun Redi                -0.8121      0.302     -2.688      0.007      -1.404      -0.220
Name_Brand&Model_Datsun redi-GO             -0.6418      0.232     -2.768      0.006      -1.096      -0.187
Name_Brand&Model_Fiat Abarth                -0.3053      0.303     -1.008      0.314      -0.899       0.289
Name_Brand&Model_Fiat Avventura             -0.0106      0.239     -0.044      0.965      -0.479       0.458
Name_Brand&Model_Fiat Grande                -0.3716      0.239     -1.557      0.120      -0.840       0.096
Name_Brand&Model_Fiat Linea                 -0.1482      0.225     -0.657      0.511      -0.590       0.294
Name_Brand&Model_Fiat Petra                 -0.7269      0.302     -2.410      0.016      -1.318      -0.136
Name_Brand&Model_Fiat Punto                 -0.3415      0.234     -1.462      0.144      -0.799       0.116
Name_Brand&Model_Fiat Siena                 -0.7453      0.301     -2.477      0.013      -1.335      -0.155
Name_Brand&Model_Force One                   0.6957      0.263      2.642      0.008       0.180       1.212
Name_Brand&Model_Ford Aspire                 0.1808      0.247      0.732      0.464      -0.304       0.665
Name_Brand&Model_Ford Classic               -0.3677      0.301     -1.222      0.222      -0.958       0.222
Name_Brand&Model_Ford EcoSport               0.2604      0.217      1.199      0.231      -0.165       0.686
Name_Brand&Model_Ford Ecosport               0.2781      0.216      1.287      0.198      -0.146       0.702
Name_Brand&Model_Ford Endeavour              0.8440      0.223      3.790      0.000       0.407       1.281
Name_Brand&Model_Ford Fiesta                -0.1398      0.218     -0.642      0.521      -0.567       0.287
Name_Brand&Model_Ford Figo                  -0.1849      0.215     -0.859      0.390      -0.607       0.237
Name_Brand&Model_Ford Freestyle             -0.1032      0.302     -0.341      0.733      -0.696       0.489
Name_Brand&Model_Ford Fusion                 0.0802      0.301      0.266      0.790      -0.510       0.670
Name_Brand&Model_Ford Ikon                  -0.4998      0.221     -2.265      0.024      -0.932      -0.067
Name_Brand&Model_Ford Mustang                1.0990      0.321      3.426      0.001       0.470       1.728
Name_Brand&Model_Hindustan Motors            1.9102      0.301      6.337      0.000       1.319       2.501
Name_Brand&Model_Honda Accord                0.3263      0.219      1.490      0.136      -0.103       0.755
Name_Brand&Model_Honda Amaze                -0.0287      0.216     -0.133      0.894      -0.451       0.394
Name_Brand&Model_Honda BR-V                  0.1849      0.264      0.702      0.483      -0.332       0.702
Name_Brand&Model_Honda BRV                   0.2386      0.233      1.023      0.306      -0.219       0.696
Name_Brand&Model_Honda Brio                 -0.1519      0.216     -0.702      0.483      -0.576       0.272
Name_Brand&Model_Honda CR-V                  0.4875      0.221      2.211      0.027       0.055       0.920
Name_Brand&Model_Honda City                  0.2203      0.215      1.026      0.305      -0.201       0.641
Name_Brand&Model_Honda Civic                 0.0375      0.218      0.172      0.863      -0.389       0.464
Name_Brand&Model_Honda Jazz                  0.0466      0.216      0.215      0.829      -0.377       0.471
Name_Brand&Model_Honda Mobilio               0.0811      0.222      0.364      0.716      -0.355       0.517
Name_Brand&Model_Honda WR-V               2.173e-12   1.33e-12      1.629      0.103   -4.43e-13    4.79e-12
Name_Brand&Model_Honda WRV                   0.2194      0.247      0.889      0.374      -0.265       0.703
Name_Brand&Model_Hyundai Accent             -0.3188      0.219     -1.454      0.146      -0.749       0.111
Name_Brand&Model_Hyundai Creta               0.5764      0.216      2.672      0.008       0.153       0.999
Name_Brand&Model_Hyundai EON                -0.4493      0.217     -2.074      0.038      -0.874      -0.025
Name_Brand&Model_Hyundai Elantra             0.4917      0.219      2.241      0.025       0.062       0.922
Name_Brand&Model_Hyundai Elite               0.2141      0.222      0.966      0.334      -0.221       0.649
Name_Brand&Model_Hyundai Getz               -0.4701      0.225     -2.089      0.037      -0.911      -0.029
Name_Brand&Model_Hyundai Grand              -0.0807      0.215     -0.375      0.708      -0.503       0.341
Name_Brand&Model_Hyundai Santa               0.6921      0.225      3.080      0.002       0.252       1.133
Name_Brand&Model_Hyundai Santro             -0.3160      0.215     -1.467      0.143      -0.738       0.106
Name_Brand&Model_Hyundai Sonata              0.5715      0.229      2.500      0.012       0.123       1.020
Name_Brand&Model_Hyundai Tucson              0.3774      0.240      1.573      0.116      -0.093       0.848
Name_Brand&Model_Hyundai Verna               0.1701      0.215      0.791      0.429      -0.251       0.592
Name_Brand&Model_Hyundai Xcent              -0.0896      0.217     -0.413      0.680      -0.515       0.335
Name_Brand&Model_Hyundai i10                -0.1711      0.215     -0.796      0.426      -0.593       0.251
Name_Brand&Model_Hyundai i20                 0.0822      0.215      0.383      0.702      -0.339       0.503
Name_Brand&Model_ISUZU D-MAX                 0.5435      0.247      2.197      0.028       0.058       1.029
Name_Brand&Model_Isuzu MU                    0.0761      0.304      0.250      0.802      -0.520       0.673
Name_Brand&Model_Isuzu MUX                   0.8054      0.306      2.635      0.008       0.206       1.405
Name_Brand&Model_Jaguar F                -2.421e-12   2.39e-12     -1.013      0.311   -7.11e-12    2.26e-12
Name_Brand&Model_Jaguar XE                   1.0135      0.268      3.776      0.000       0.487       1.540
Name_Brand&Model_Jaguar XF                   1.0322      0.231      4.459      0.000       0.578       1.486
Name_Brand&Model_Jaguar XJ                   1.9141      0.239      7.995      0.000       1.445       2.383
Name_Brand&Model_Jeep Compass                0.7128      0.226      3.157      0.002       0.270       1.155
Name_Brand&Model_Lamborghini Gallardo    -7.413e-12   1.61e-12     -4.607      0.000   -1.06e-11   -4.26e-12
Name_Brand&Model_Land Rover                  0.9739      0.259      3.764      0.000       0.467       1.481
Name_Brand&Model_Mahindra Bolero             0.2787      0.223      1.247      0.212      -0.159       0.717
Name_Brand&Model_Mahindra E               8.871e-12   1.83e-12      4.842      0.000    5.28e-12    1.25e-11
Name_Brand&Model_Mahindra Jeep               0.0787      0.302      0.261      0.794      -0.513       0.670
Name_Brand&Model_Mahindra KUV               -0.1839      0.224     -0.821      0.412      -0.623       0.255
Name_Brand&Model_Mahindra Logan             -0.4852      0.260     -1.865      0.062      -0.995       0.025
Name_Brand&Model_Mahindra NuvoSport       8.435e-12   1.52e-12      5.546      0.000    5.45e-12    1.14e-11
Name_Brand&Model_Mahindra Quanto            -0.2213      0.236     -0.938      0.348      -0.684       0.241
Name_Brand&Model_Mahindra Renault           -0.0260      0.261     -0.100      0.921      -0.537       0.485
Name_Brand&Model_Mahindra Scorpio            0.4380      0.220      1.992      0.046       0.007       0.869
Name_Brand&Model_Mahindra Ssangyong          0.5897      0.230      2.560      0.011       0.138       1.041
Name_Brand&Model_Mahindra TUV                0.1643      0.227      0.722      0.470      -0.282       0.610
Name_Brand&Model_Mahindra Thar               0.4013      0.228      1.759      0.079      -0.046       0.849
Name_Brand&Model_Mahindra Verito            -0.1695      0.246     -0.688      0.492      -0.653       0.314
Name_Brand&Model_Mahindra XUV300             0.5289      0.301      1.756      0.079      -0.062       1.119
Name_Brand&Model_Mahindra XUV500             0.5483      0.218      2.515      0.012       0.121       0.976
Name_Brand&Model_Mahindra Xylo               0.0531      0.223      0.238      0.812      -0.384       0.490
Name_Brand&Model_Maruti 1000                -0.2772      0.302     -0.918      0.359      -0.869       0.315
Name_Brand&Model_Maruti 800                 -0.8872      0.231     -3.838      0.000      -1.340      -0.434
Name_Brand&Model_Maruti A-Star              -0.2766      0.221     -1.249      0.212      -0.711       0.157
Name_Brand&Model_Maruti Alto                -0.4314      0.216     -2.001      0.045      -0.854      -0.009
Name_Brand&Model_Maruti Baleno               0.1319      0.216      0.610      0.542      -0.292       0.556
Name_Brand&Model_Maruti Celerio             -0.2293      0.217     -1.056      0.291      -0.655       0.196
Name_Brand&Model_Maruti Ciaz                 0.2904      0.216      1.342      0.180      -0.134       0.715
Name_Brand&Model_Maruti Dzire                0.1121      0.221      0.508      0.612      -0.321       0.545
Name_Brand&Model_Maruti Eeco                -0.2874      0.222     -1.293      0.196      -0.723       0.148
Name_Brand&Model_Maruti Ertiga               0.3100      0.218      1.422      0.155      -0.117       0.737
Name_Brand&Model_Maruti Esteem              -0.7272      0.238     -3.055      0.002      -1.194      -0.261
Name_Brand&Model_Maruti Estilo              -0.3321      0.247     -1.344      0.179      -0.816       0.152
Name_Brand&Model_Maruti Grand                0.3847      0.248      1.549      0.121      -0.102       0.872
Name_Brand&Model_Maruti Ignis               -0.1273      0.229     -0.556      0.578      -0.576       0.322
Name_Brand&Model_Maruti Omni                -0.5609      0.221     -2.535      0.011      -0.995      -0.127
Name_Brand&Model_Maruti Ritz                -0.1614      0.216     -0.748      0.455      -0.585       0.262
Name_Brand&Model_Maruti S                    0.3092      0.239      1.293      0.196      -0.159       0.778
Name_Brand&Model_Maruti S-Cross              0.2425      0.302      0.804      0.422      -0.349       0.834
Name_Brand&Model_Maruti SX4                 -0.0235      0.217     -0.108      0.914      -0.449       0.402
Name_Brand&Model_Maruti Swift                0.0639      0.215      0.298      0.766      -0.357       0.484
Name_Brand&Model_Maruti Versa               -0.5242      0.304     -1.725      0.085      -1.120       0.072
Name_Brand&Model_Maruti Vitara               0.3141      0.217      1.445      0.149      -0.112       0.740
Name_Brand&Model_Maruti Wagon               -0.2575      0.215     -1.196      0.232      -0.680       0.165
Name_Brand&Model_Maruti Zen                 -0.5307      0.218     -2.435      0.015      -0.958      -0.103
Name_Brand&Model_Mercedes-Benz A             0.9011      0.226      3.983      0.000       0.458       1.345
Name_Brand&Model_Mercedes-Benz B             0.7487      0.228      3.288      0.001       0.302       1.195
Name_Brand&Model_Mercedes-Benz C-Class       0.9792      0.269      3.647      0.000       0.453       1.506
Name_Brand&Model_Mercedes-Benz CLA           1.0142      0.228      4.458      0.000       0.568       1.460
Name_Brand&Model_Mercedes-Benz CLS-Class     1.7233      0.305      5.657      0.000       1.126       2.321
Name_Brand&Model_Mercedes-Benz E-Class       0.8066      0.237      3.407      0.001       0.342       1.271
Name_Brand&Model_Mercedes-Benz GL-Class      1.8084      0.226      7.987      0.000       1.364       2.252
Name_Brand&Model_Mercedes-Benz GLA           1.0503      0.226      4.655      0.000       0.608       1.493
Name_Brand&Model_Mercedes-Benz GLC           1.3003      0.243      5.358      0.000       0.825       1.776
Name_Brand&Model_Mercedes-Benz GLE           1.2825      0.248      5.165      0.000       0.796       1.769
Name_Brand&Model_Mercedes-Benz GLS           1.2730      0.326      3.904      0.000       0.634       1.912
Name_Brand&Model_Mercedes-Benz M-Class       1.5974      0.221      7.223      0.000       1.164       2.031
Name_Brand&Model_Mercedes-Benz New           0.9133      0.221      4.126      0.000       0.479       1.347
Name_Brand&Model_Mercedes-Benz R-Class       1.2808      0.267      4.799      0.000       0.758       1.804
Name_Brand&Model_Mercedes-Benz S             1.6227      0.230      7.041      0.000       1.171       2.074
Name_Brand&Model_Mercedes-Benz S-Class       0.0568      0.366      0.155      0.877      -0.660       0.773

In [16]:
# Retrive Coeff values, p-values and store them in the dataframe
olsmod = pd.DataFrame(olsmodel1.params, columns = ['coef'])

olsmod['pval'] = olsmodel1.pvalues

In [17]:
# Filter by significant p-value (pval <= 0.05) and sort descending by Odds ratio

olsmod = olsmod.sort_values(by = "pval", ascending = False)

pval_filter = olsmod['pval']<= 0.05

olsmod[pval_filter]

                                            coef          pval
Name_Brand&Model_Mahindra Scorpio   4.379503e-01  4.644124e-02
Name_Brand&Model_Chevrolet Beat    -4.333498e-01  4.584245e-02
Name_Brand&Model_Maruti Alto       -4.313793e-01  4.548050e-02
Name_Brand&Model_Volkswagen Beetle  1.015055e-12  4.177178e-02
Name_Brand&Model_Audi RS5           6.294938e-01  4.097310e-02
...                                          ...           ...
Location_Kolkata                   -1.794738e-01  2.011904e-21
Power                               2.561649e-03  2.243439e-24
kilometers_driven_log              -6.225758e-02  2.391834e-25
Year                                9.000227e-02  0.000000e+00
const                              -1.792377e+02  0.000000e+00

[125 rows x 2 columns]

In [18]:
# We are looking are overall significant varaible

pval_filter = olsmod['pval']<= 0.05
imp_vars = olsmod[pval_filter].index.tolist()

# We are going to get overall varaibles (un-one-hot encoded varables) from categorical varaibles
sig_var = []
for col in imp_vars:
    if '' in col:
        first_part = col.split('_')[0]
        for c in cars_data.columns:
            if first_part in c and c not in sig_var :
                sig_var.append(c)

                
start = '\033[1m'
end = '\033[95m'
print(start+ 'Most overall significant categorical varaibles of LINEAR REGRESSION  are ' +end,':\n', sig_var)

Most overall significant categorical varaibles of LINEAR REGRESSION  are  :
 ['Name', 'Name_Brand&Model', 'Location', 'Engine', 'New_price', 'Owner_Type', 'Transmission', 'Power', 'kilometers_driven_log', 'Year']

**Build Ridge / Lasso Regression similar to Linear Regression:**<br>

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

In [19]:
# Import Ridge/ Lasso Regression from sklearn
from sklearn.linear_model import Ridge

In [20]:
# Create a Ridge regression model
rr = Ridge()

In [21]:
# Fit Ridge regression model
rr.fit(X_train, y_train['price_log'])

Ridge()

In [22]:
# Get score of the model
RR_score = get_model_score(rr)

R-squared on training set :  0.8972426365657673
R-squared on test set :  0.8723792250086664
RMSE on training set :  3.443932509361351
RMSE on test set :  3.8232114825922547

**Observations from results: _____**

### **Decision Tree** 

https://scikit-learn.org/stable/auto_examples/tree/plot_tree_regression.html

In [23]:
# Import Decision tree for Regression from sklearn
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor

In [24]:
# Create a decision tree regression model, use random_state = 1
dt = DecisionTreeRegressor(random_state = 1)

In [25]:
# Fit decision tree regression model
dt.fit(X_train, y_train['price_log'])

DecisionTreeRegressor(random_state=1)

In [26]:
# Get score of the model
DT_score = get_model_score(dt)

R-squared on training set :  0.9999575675672687
R-squared on test set :  0.809614557440355
RMSE on training set :  0.06998373573769759
RMSE on test set :  4.669651843952255

**Observations from results: _____**

Print the importance of features in the tree building. The importance of a feature is computed as the (normalized) total reduction of the criterion brought by that feature. It is also known as the Gini importance.

In [27]:
print(pd.DataFrame(dt.feature_importances_, columns = ["Imp"], index = X_train.columns).sort_values(by = 'Imp', ascending = False))

                                          Imp
Power                                0.650564
Year                                 0.191724
New_price                            0.063528
kilometers_driven_log                0.019576
Engine                               0.009430
...                                       ...
Name_Brand&Model_Mahindra Ssangyong  0.000000
Name_Brand&Model_Mahindra Quanto     0.000000
Name_Brand&Model_Mahindra NuvoSport  0.000000
Name_Brand&Model_Mahindra Logan      0.000000
Name_Brand&Model_Volvo XC90          0.000000

[247 rows x 1 columns]

**Observations and insights: _____**

In [28]:
#another way
print(pd.DataFrame(dt.feature_importances_, index = X.columns, columns = ['Imp']).sort_values(by = 'Imp', ascending = False))

                                          Imp
Power                                0.650564
Year                                 0.191724
New_price                            0.063528
kilometers_driven_log                0.019576
Engine                               0.009430
...                                       ...
Name_Brand&Model_Mahindra Ssangyong  0.000000
Name_Brand&Model_Mahindra Quanto     0.000000
Name_Brand&Model_Mahindra NuvoSport  0.000000
Name_Brand&Model_Mahindra Logan      0.000000
Name_Brand&Model_Volvo XC90          0.000000

[247 rows x 1 columns]

### **Random Forest**

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html

In [29]:
# Import Randomforest for Regression from sklearn
from sklearn.ensemble import RandomForestRegressor

In [30]:
# Create a Randomforest regression model 
rf = RandomForestRegressor(random_state = 1)

In [31]:
# Fit Randomforest regression model
rf.fit(X_train, y_train['price_log'])

RandomForestRegressor(random_state=1)

In [32]:
# Get score of the model
RF_score = get_model_score(rf)

R-squared on training set :  0.974278609041617
R-squared on test set :  0.8584377778154662
RMSE on training set :  1.7230400850261152
RMSE on test set :  4.026626234679523

**Observations and insights: _____**

**Feature Importance**

In [33]:
# Print important features similar to decision trees
print(pd.DataFrame(rf.feature_importances_, columns = ["Imp"], index = X_train.columns).sort_values(by = 'Imp', ascending = False))

                                            Imp
Power                                  0.638971
Year                                   0.190322
New_price                              0.066911
kilometers_driven_log                  0.019560
Engine                                 0.019321
...                                         ...
Name_Brand&Model_Toyota Prius          0.000000
Name_Brand&Model_Mahindra NuvoSport    0.000000
Name_Brand&Model_Lamborghini Gallardo  0.000000
Name_Brand&Model_Jaguar F              0.000000
Name_Brand&Model_Mahindra E            0.000000

[247 rows x 1 columns]

**Observations and insights: _____**

### **Hyperparameter Tuning: Decision Tree**

In [34]:
# Choose the type of estimator 
dtree_tuned = DecisionTreeRegressor(random_state = 1)

# Grid of parameters to choose from
# Check documentation for all the parametrs that the model takes and play with those
parameters = {'max_depth': [5,7,9],
             #'min_samples_split': [3,5,7],
             'min_samples_leaf': [5,10,15],
             #'max_features':['log2','sqrt']
             }

# Type of scoring used to compare parameter combinations
scorer = metrics.make_scorer(r2_score)

# Run the grid search
grid_obj = GridSearchCV(dtree_tuned, parameters, scoring = scorer, cv = 10)

# Fitting the grid search on the train data
grid_obj = grid_obj.fit(X_train, y_train['price_log'])

# Set the model to the best combination of parameters
dtree_tuned = grid_obj.best_estimator_

# Fit the best algorithm to the data
dtree_tuned.fit(X_train, y_train['price_log'])

DecisionTreeRegressor(max_depth=9, min_samples_leaf=10, random_state=1)

In [35]:
# Get score of the dtree_tuned
DTTuned_score = get_model_score(dtree_tuned)

R-squared on training set :  0.878447609425652
R-squared on test set :  0.8043642505805639
RMSE on training set :  3.745673410078324
RMSE on test set :  4.733602026962086

**Observations and insights: _____**

**Feature Importance**

In [36]:
# Print important features of tuned decision tree similar to decision trees
print(pd.DataFrame(dtree_tuned.feature_importances_, columns = ["Imp"], index = X_train.columns).sort_values(by = 'Imp', ascending = False))

                                       Imp
Power                             0.704142
Year                              0.202673
New_price                         0.063024
Name_Brand&Model_Honda Accord     0.006707
kilometers_driven_log             0.006249
...                                    ...
Name_Brand&Model_Hyundai Accent   0.000000
Name_Brand&Model_Hyundai Creta    0.000000
Name_Brand&Model_Hyundai EON      0.000000
Name_Brand&Model_Hyundai Elantra  0.000000
Name_Brand&Model_Volvo XC90       0.000000

[247 rows x 1 columns]

**Observations and insights: _____**

### **Hyperparameter Tuning: Random Forest**

In [37]:
# Choose the type of Regressor
rf_tuned = RandomForestRegressor(random_state=1)

# Define the parameters for Grid to choose from 
# Check documentation for all the parametrs that the model takes and play with those

parameters_rf = {
    'n_estimators': [100,150,200],
    'max_depth': [5,7,9],
    #'min_samples_split': [3,5,7],
    'min_samples_leaf': [5,10,15],
    #'max_features': ['log2','sqrt']
}


# Type of scoring used to compare parameter combinations
scorer = metrics.make_scorer(r2_score)

# Run the grid search
grid_obj2 = GridSearchCV(rf_tuned, parameters_rf, scoring = scorer, cv = 10)

# Fitting the grid search on the train data
grid_obj2 = grid_obj2.fit(X_train, y_train['price_log'])

# Set the model to the best combination of parameters
rf_tuned = grid_obj2.best_estimator_

# Fit the best algorithm to the data
rf_tuned.fit(X_train, y_train['price_log'])

RandomForestRegressor(max_depth=9, min_samples_leaf=5, n_estimators=150,
                      random_state=1)

In [38]:
# Get score of the model
RFTuned_score = get_model_score(rf_tuned)

R-squared on training set :  0.9112519059941248
R-squared on test set :  0.8456841098919237
RMSE on training set :  3.2005725275279557
RMSE on test set :  4.204099220247197

**Observations and insights: _____**

**Feature Importance**

In [39]:
# Print important features of tuned decision tree similar to decision trees
print(pd.DataFrame(rf_tuned.feature_importances_, columns = ["Imp"], index = X_train.columns).sort_values(by = 'Imp', ascending = False))

                                          Imp
Power                                0.680058
Year                                 0.199712
New_price                            0.068058
Engine                               0.015600
kilometers_driven_log                0.008219
...                                       ...
Name_Brand&Model_Mahindra Jeep       0.000000
Name_Brand&Model_Mahindra KUV        0.000000
Name_Brand&Model_Mahindra Logan      0.000000
Name_Brand&Model_Mahindra NuvoSport  0.000000
Name_Brand&Model_Volvo XC90          0.000000

[247 rows x 1 columns]

**Observations and insights: ______**

In [40]:
# Defining list of models you have trained
models = [lr, rr, dt, dtree_tuned, rf, rf_tuned]

# Defining empty lists to add train and test results
r2_train = []
r2_test = []
rmse_train = []
rmse_test = []

# Looping through all the models to get the rmse and r2 scores
for model in models:
    
    # Accuracy score
    j = get_model_score(model, False)
    
    r2_train.append(j[0])
    
    r2_test.append(j[1])
    
    rmse_train.append(j[2])
    
    rmse_test.append(j[3])

In [41]:
comparison_frame = pd.DataFrame({'Model':['Linear Regression','Ridge Regression','Decision Tree', 'Decision Tree - Tuned', 'Random Forest', 'Random Forest - Tuned'], 
                                          'r2_train': r2_train,'r2_test': r2_test,
                                          'rmse_train': rmse_train,'rmse_test': rmse_test}) 
comparison_frame

                   Model  r2_train   r2_test  rmse_train  rmse_test
0      Linear Regression  0.919422  0.835704    3.049694   4.337921
1       Ridge Regression  0.897243  0.872379    3.443933   3.823211
2          Decision Tree  0.999958  0.809615    0.069984   4.669652
3  Decision Tree - Tuned  0.878448  0.804364    3.745673   4.733602
4          Random Forest  0.974279  0.858438    1.723040   4.026626
5  Random Forest - Tuned  0.911252  0.845684    3.200573   4.204099

**Observations: _____**

**Note:** You can also try some other algorithms such as KNN and compare the model performance with the existing ones.

### **Insights**

**Refined insights**:
- What are the most meaningful insights from the data relevant to the problem?

**Comparison of various techniques and their relative performance**:
- How do different techniques perform? Which one is performing relatively better? Is there scope to improve the performance further?

**Proposal for the final solution design**:
- What model do you propose to be adopted? Why is this the best solution to adopt?